@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}


html, body, #root {
  min-height: 100vh;
}

.slick-container {
  min-height: 90vh !important;
}

.slick-slider, .slick-list, .slick-track, .slick-slide >div>div {
  min-height: 90vh !important;
}

.slick-dots{
  z-index: 1000 !important;
  bottom : 50px !important;
}